.detail .product-price h2 {
  display: inline-block;
  color: #d10024;
}
.detail .product-rating {
  margin: 10px 0;
}
.detail .summary {
  font-weight: 900;
  color: #60d773;
}
.detail .product-action .buy-now,
.detail .product-action .add-to-cart {
  background-color: #d10024;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
}

.detail .product-action {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.detail .product-action .buy-now {
  margin-right: 15px;
}
