#wishlist {
  width: 100%;
}

#wishlist > thead > tr > th {
  padding-bottom: 25px;
}
#wishlist > tbody > tr {
  border-top: 1px solid #e4e7ed;
}

#wishlist .product-name {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.product-column .add-to-cart button {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product-column .add-to-cart .add-to-cart-btn > i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #d10024;
}

.delete-wishlist-icon > i {
  cursor: pointer;
  font-size: 24px;
}

.pagination-container {
  width: 100%;
  display: flex;
}

.pagination-container .pagination {
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 0;
}

/* .pagination-container .pagination .page-item {
    padding: 5px
} */

.pagination-container .pagination .page-item .page-link {
  color: #2b2d42;
  padding: 10px 15px;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.pagination-container .pagination .page-item.active .page-link {
  z-index: 3;
  background-color: #d10024;
  border-color: #d10024;
  color: #fff;
  font-weight: 500;
  cursor: default;
}

.pagination-container .pagination .page-item.active .page-link:hover {
  color: #fff !important;
}

.pagination-container .pagination .page-item.active .page-link:focus {
  color: #fff !important;
}

/* Du Tien Dung */
.wishlist {
  min-height: 1000px;
}
.wishlist-product a {
  color: #2b2d42;
}

.wishlist-product .items {
  cursor: pointer;
  padding: 15px;
  min-height: 75px;
  transition: all 0.3s ease;
}
.wishlist-product .items:hover {
  font-size: 25px;
  border: 2px solid #d10024;
}
.wishlist-product .wishlist-remove {
  font-size: 22px;
  margin-right: 15px;
  display: none;
}
.wishlist-product .wishlist-remove:hover {
  color: #d10024;
}

.wishlist-product .items:hover .wishlist-remove {
  display: inline-block;
}
.wishlist-product .wishlist-addcart {
  font-size: 22px;
  margin-left: 20px;
}
.wishlist-price .original-price {
  text-decoration: line-through;
  font-size: 15px;
  margin-left: 8px;
}
